# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user

## knitr
*.html
*.md
*.pdf

## large folder in data
data/TUCSON
unmatched.txt

